

/* menubar actions */

ul[role="menubar"] {
  margin: 0.5em 0;
  padding: 0.188rem 0.5rem 0;
  font-size: 110%;
  list-style: none;
  background-color: #eee;
}

ul[role="menubar"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role="menubar"] > li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

ul[role="menubar"] > li > [role="menuitem"]::after {
  display: inline-block;
  vertical-align: middle;
  padding: 1.5rem 0.75rem 0 0.75rem;
  content: url('img/sprite.svg#ic-arrow-down');
}

ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] ul[role="group"] {
  margin: 0;
  padding: 0;
}

ul[role="menubar"] li[aria-disabled="true"] {
  color: #666;
  text-decoration: line-through;
}

ul[role="menubar"] [role="menuitem"],
ul[role="menubar"] [role="menuitemcheckbox"],
ul[role="menubar"] [role="menuitemradio"] {
  padding: 0.25em;
  background-color: #eee;
  border: 2px solid #eee;
  color: black;
}

ul[role="menubar"] ul li[role="menuitem"],
ul[role="menubar"] ul li[role="menuitemcheckbox"],
ul[role="menubar"] ul li[role="menuitemradio"],
ul[role="menubar"] ul li[role="separator"] {
  padding-left: 1.5em;
  padding-right: 1.5rem;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"][aria-expanded="true"] {
  background-color: black;
  color: white;
  border: 2px solid black;
  outline: none;
}

ul[role="menubar"]:not(.focus) [role="menuitem"]:hover {
  background-color: #444;
  color: white;
}

ul[role="menubar"] [role="menu"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menu"] [role="menuitemcheckbox"]:focus,
ul[role="menubar"] [role="menu"] [role="menuitemradio"]:focus {
  background-color: black;
  color: white;
  outline: none;
}

ul[role="menubar"] ul[role="menu"] li {
  padding: 0.75rem 1.25rem 0.75rem 2.75rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-width: 12rem;
}

ul[role="menubar"] [role="menuitemcheckbox"][aria-checked='true']::before,
ul[role="menubar"] [role="menuitemradio"][aria-checked='true']::before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding-right: 0.3em;
  display: inline-block;
  vertical-align: middle;
}

ul[role="menubar"] [role="menuitemcheckbox"][aria-checked='true']::before {
  content: url('img/sprite.svg#ic-check');
}

ul[role="menubar"] [role="menuitemradio"][aria-checked='true']::before {
  content: url('img/sprite.svg#ic-square');
  top: 1.2rem;
  left: 1.25rem;
}

ul[role="menubar"] [role="menuitemradio"][aria-checked='true']:focus::before,
ul[role="menubar"] [role="menuitemradio"][aria-checked='true']:hover::before {
  content: url('img/sprite.svg#ic-square-white');
}

ul[role="menubar"] [role="menuitemcheckbox"][aria-checked='true']:focus::before,
ul[role="menubar"] [role="menuitemcheckbox"][aria-checked='true']:hover::before {
  content: url('img/sprite.svg#ic-check-white');
}

/* menubar links */
ul[role="menubar"] {
  font-size: 110%;
  list-style: none;
  background-color: #eee;
}

ul[role="menubar"] [role="menuitem"] {
  padding: 0.25em;
  background-color: #eee;
  border: 2px solid #eee;
}


ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover {
  background-color: black;
  color: white;
}

ul[role="menubar"] a[role="menuitem"] {
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: black;
}

ul[role="menubar"] li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] > li {
  position: relative;
}

ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] ul[role="menu"] li a {
  display: block;
  min-width: 12em;
}

ul[role="menubar"] ul[role="menu"] > li > a[aria-haspopup="true"]::after {
  content: url('img/sprite.svg#ic-arrow-down');
  padding-right: 2em;
}

ul[role="menubar"] > li > [role="menuitem"]:focus::after,
ul[role="menubar"] > li > [role="menuitem"][aria-expanded="true"]::after,
ul[role="menubar"]:not(.focus) > li > [role="menuitem"]:focus::after,
ul[role="menubar"]:not(.focus) > li > [role="menuitem"]:hover::after {
  content: url('img/sprite.svg#ic-arrow-down-white');
}