@charset "UTF-8";

/* ==========================================================================
   
   CSS for optimized accessibility

   ========================================================================== */

/* ==========================================================================
   Fenêtre du module de recherche avancée
   ========================================================================== */

/* possibilité de zoom texte sans perte d'information dans le module */
#rechercheAvance {
    height: 90vh;
    max-height: 648px;
    overflow: auto;
}

#rechercheAvance.is-active {
    display: block;
}

/* ==========================================================================
   Liste multi-niveaux avec checkboxes
   ========================================================================== */

/* ajout de la sémantique fieldset > legend */
#rechercheAvance fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#rechercheAvance fieldset > div > button.disclosure {
    text-align: left;
}

/* passage en display: none pour la liste cachée, plus sûr pour la nav clavier */
/*
.disclosure[aria-expanded="false"] + ul {
    display: block !important;
}

.disclosure[aria-expanded="true"] + ul {
    display: none !important;
}
*/

#divRechCatGrammaticale > button.disclosure[aria-expanded="false"] + ul, #divRechParDomaines > button.disclosure[aria-expanded="false"] + ul {
    display: block !important;
}

#divRechCatGrammaticale > button.disclosure[aria-expanded="true"] + ul, #divRechParDomaines > button.disclosure[aria-expanded="true"] + ul {
    display: none !important;
}

#divRechDansEtymologie > button.disclosure[aria-expanded="false"] + ul {
    display: none !important;
}

#divRechDansEtymologie > button.disclosure[aria-expanded="true"] + ul {
    display: block !important;
}

/* sous-groupes 
.niveauxUN:not(.fondBleu) {
    border-bottom: 1px solid #707070;
} 
*/

ul.sous-groupe-liste-UN:not(".is-active") {
    display: none;
    max-height: none;
}

ul.ouvert,
ul.is-active {
    max-height: 63em;
    display: block;
}

li.niveauxUN {
    position: relative;
}

li.niveauxUN > input,
li.niveauxUN > h4 {
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    line-height: 1em;
    font-weight: 400;
    color: #3d6c95;
}

li.niveauxUN > button {
    background-color: transparent;
    border: none;
    right: 0rem;
}

li.niveauxUN > button.is-active {
    transform: rotate(90deg);
}

li.fondBleu > h4,
li.fondBleu > button {
    color: #fff;
}

/* ==========================================================================
   Colonne de résultats
   ========================================================================== */

button.sectionToggleGauche {
    border: none;
    border-bottom: solid 1px white;
    display: block;
    width: 100%;
}

.sectionToggleGauche > span {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3em;
    text-align: center;
    color: white;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    padding-left: 12px;
}

.sectionToggleGauche > span > span {
    font-style: italic;
}

.sectionToggleGauche[aria-expanded="true"] .pic-open,
.sectionToggleGauche[aria-expanded="false"] .pic-closed {
    display: block;
}

.sectionToggleGauche[aria-expanded="false"] .pic-open,
.sectionToggleGauche[aria-expanded="true"] .pic-closed {
    display: none;
}
