/* Styles Dictionnaire de l'Academie pour mise en pages HTML. */
/* Laurent Catach, 2017-2018 + Diagonal */

/* VERSION POUR IMPRESSION SUR PAPIER */

@import url(stylesAF.css);

#wrapper,
#contenu,
#colGauche {
    display: block;
    width: 100%;
    margin: 0;
    float: none;
}

/** MARGES */
@page {
    margin: 2cm;
}

/* FAIRE DISPARAITRE LES ELEMENTS QUE NOUS NE VOULONS PAS IMPRIMER */
#outils,
.menuAnim,
header,
#versions,
#colDroite,
footer,
#divPartageIcones,
.menuTopCell,
#blocCookies,
#contenantRecherche,
#accessibiliteFen,
#colGaucheRechAv,
#sansResultat,
#btAllerContenu {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
}

/* AJOUT DU TEXTE APRES LE CONTENU */
.s_Article:after,
.s_Notice:after {
    content: "© Académie française, 2022";
    display: block;
    width: 100%;
    color: #000000;
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 300;
    font-size: 9pt;
    text-align: center;
    margin-top: 70px;
}

/* BODY fOND ET MARGE */
body {
    background: #fff;
    margin: 0;
    padding: 0;
}

/* WRAPPER */
#wrapper {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    max-width: none;
}

/* COLONNE DE GAUCHE */
#colGauche {
    display: block;
    position: relative;
    padding: 0;
    width: 100%;
    font-size: 10pt;
}



/* DE DANIEL - 21 novembre 2018 */

/* VOIE ACTIVE */
.btn_voice_actif {
    color: #4e7faa;
    padding: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #4e7faa;
    margin-left: 20px;
}

/* ESPACE ENTRE LES VOIE */
.worldColor3-bd {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10pt;
}

/* ALIGNEMENT DES VOIE À DROITE */
#btn_conjs {
    position: relative;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 20px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    table-layout: auto;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
}

/* TAILLE TYPO - CONJUGAISON */
.tense table {
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    table-layout: auto;
    border-collapse: collapse;
}

/* CONJUGAISON - ESPACES ENTRE ÉLÉMENTS */
.conj_auxil {
    text-align: left;
    margin: 0;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.conj_refl-pron {
    text-align: left;
    padding: 0px;
    padding-left: 6px;
    padding-right: 0px;
}

td.conj_refl-pron + td.conj_auxil {
    padding-left: 6px;
}

.conj_verb {
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
}

.conj_pers-pron {
    padding-left: 6px;
    padding-right: 6px;
}








BODY {
    font-size: 10pt;
}

.sectionToggle {
    display: block;
    position: relative;
}

.fa-info-circle:before {
    font-size: 18px;
}

.s_Article {
    line-height: 18pt;
    font-size: 11pt;
}

.s_cat {
    font-size: 9pt;
}

.s_ConjPlur {
    font-size: 10pt;
}

.s_Entree {
    font-size: 13pt;
}

.s_bdc {
    font-size: 13pt;
}

.s_etm {
    font-size: 10pt;
}

.s_etq1 {
    font-size: 9pt;
    color: black;
}

.s_Marq {
    font-size: 10pt;
    color: black;
}

.s_Meta {
    font-size: 11pt;
}

.s_NoDivNum {
    font-size: 10pt;
}

.s_NoDivRom {
    font-size: 11pt;
}

.s_rvh .s_NumHom {
    font-size: 11pt;
}

.s_NumHom {
    font-size: 10pt;
}

.s_pc {
    font-size: 110%;
}

.s_ConjPlur .s_Pron {
    font-size: 10pt;
}

.s_Pron {
    font-size: 10pt;
}

.s_Phon {
    font-size: 11pt;
}

.s_Notice .s_EnTete {
    line-height: 20pt;
}

.s_EnTete {
    line-height: 19pt;
}

.s_zEtym .s_Renv {
    font-size: 10pt;
}

.s_rem .s_Renv {
    font-size: 10pt;
}

.s_Meta .s_Renv {
    font-size: 11pt;
}

.s_Renv {
    font-size: 11pt;
    color: black;
}

.s_SsEntree {
    font-size: 11pt;
}

.s_uni {
    font-size: 12pt;
}

.s_Meta .s_x {
    font-size: 11pt;
}

.s_Entree .s_x {
    font-size: 11pt;
}

/*----------*/
.s_rem {
    font-size: 10pt;
}

.s_ZoneRem {
    line-height: 15pt;
    font-size: 10pt;
}

/* Voir aussi le style blocSectionRemarque (pour le bandeau), reintegre ici : */
.blocSectionRemarque {
    font-size: 11pt;
}

/*----------*/
.s_zEtym {
    font-size: 10pt;
    line-height: 16pt;
}

.s_ZoneLiens {
    background: none;
    font-size: 10pt;
    line-height: 16pt;
}

.blocSectionLiens {
    color: black;
    font-size: 11pt;
    background: none;
}

.s_ortho {
    font-size: 13pt;
}

.s_ZoneOrtho {
    font-size: 10pt;
    line-height: 16pt;
}

.blocSectionOrtho {
    font-size: 11pt;
}

.s_OrthoPlus {
    font-size: 10pt;
}

.s_ortho_regle {
    font-size: 11pt;
}

/*----------*/
.s_Aster {
    font-size: 11pt;
}

.bt_ff {
    font-size: 9pt;
    display: none;
}

/* ================================================================= */
/* Styles complementaires pour les notices "Dire, ne pas dire" etc. : */
.s_Notice {
    font-size: 11pt;
    line-height: 18pt;
    font-weight: normal;
}

.s_Notice .s_Entree {
    font-size: 15pt;
    color: black;
}

.s_Notice th {
    font-size: 9pt;
}

.s_rubn {
    font-size: 10pt;
    line-height: 14pt;
    color: black;
}

.s_ZoneRenv {
    font-size: 11pt;
    line-height: 18pt;
}

.s_cit {
    font-size: 10pt;
}


/* ================================================================= */
/* Styles complementaires pour DAF8 (v2) : */


.s_Article8 .s_SsEntree {
    font-size: 12pt;
}

.s_ZoneHom {
    font-size: 10pt;
}


/* ================================================================= */
/* Styles complementaires pour les verbes (Verbes.XML). */
/* Repris de Verbes.CSS. 08/2018. */

.s_Verbe {
    line-height: 19pt;
    font-size: 11pt;
}

.s_InfosSerie {
    font-size: 11pt;
}

.s_RemSerie {
    font-size: 10pt;
    line-height: 17pt;
}

.s_mrq {
    font-size: 10pt;
    line-height: 16pt;
}

/* Style pour le titre principal */

h1 {
    font-size: 10pt;
}

/* Gestion typographique pour copyright Academie en pied de page */

/* Texte crédit à la fin du contenu, version imprimée seulement */
#creditAcademie {
    font-size: 10pt;
}

/* Gère la taille typographique du chiffre romain du bandeau des sections rétractables */
.blocSection .blocBandeau {
    display: none;
    /* LC */
}

.blocBandeau {
    font-size: 11pt;
}

/* Gère la taille typographique du texte «Voir aussi» et «Liens externes» des bandeaux des sections rétractables au bas de la page */
.blocBandeauFermer {
    font-size: 11pt;
}

/* Styles de la gestion de grille du fichier gridlex.min.css */
[class*=grid-],
[class*=grid_],
[class ~ =grid] {
    display: block;
    position: relative;
}

/* CONJUGAISON - Gestion des informations de temps */
.time {
    display: block;
    position: relative;
}

/* Traitement spécifique à la gestion des contenants des sections rétractables */
.grid,
.sectionToggle {
    display: table;
    position: relative;
    width: 100%;
}

/* Styles de la gestion de grille du fichier gridlex.min.css pour l’impression */
.col-6_lg-6_md-12_sm-12_xs-12 {
    display: table-cell;
    width: 50%;
}

/* CONJUGAISON - Gestion des informations de temps */
.tense {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

/* Fait disparaitre les elements non necessaire pour l impression, a la section de gauche */
.contenantInfoBulle,
.contenantHyperlienInfoBulle,
.contenantHyperlienInfoBulleVide,
.s_Entree_haut,
#precedent,
#precedentInactif,
#plus,
#suivant,
#suivantInactif,
#contenantBtVersionsCentrale,
#outilsMenuCentrale,
#menuCentrale {
    display: none;
    height: 0;
}


/* Les styles CSS suivants sont nécessaire, provenant du fichier stylesA.css */

.colGaucheFond {
    border-radius: 10pt;
    margin-bottom: 20pt;
}

.blocBandeau {
    position: relative;
    display: block;
    /* Taille typo */
    font-size: 11pt;
    font-weight: 400;
    letter-spacing: 0.05em;
    min-height: 18px;
    margin: 0;
    padding: 3pt;
    padding-left: 0pt;
    padding-right: 40pt;
    background-color: transparent;
    color: #95bbd7;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    border-bottom-color: #95bbd7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.time_title {
    background-color: transparent;
    display: block;
    position: relative;
    color: black;
    margin-top: 20pt;
}

.blocBandeauFermer {
    position: relative;
    display: block;
    /* Taille typo */
    font-size: 11pt;
    font-weight: 400;
    letter-spacing: 0.05em;
    min-height: 18px;
    margin: 0;
    padding: 3pt;
    padding-left: 10pt;
    padding-right: 40pt;
    color: #95bbd7;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}

.blocSection {
    display: block;
    border: none;
    /* LC */
    /*
    border-style: solid;
    border-width: 1px;
    border-color: #95bbd7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
*/
    padding: 0;
    margin: 0;
    margin-top: 10pt;
    padding-bottom: 10pt;
}

.colGToggle {
    display: none;
}

.colGToggle img {
    display: none;
}

.colGToggleGauche {
    position: absolute;
    width: 7.5pt;
    height: 1.6pt;
    background-color: #ffffff;
    top: 6pt;
    left: 18pt;
    border-radius: 2pt;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.activeRotGauche {
    position: absolute;
    width: 7.5pt;
    height: 1.6pt;
    background-color: #ffffff;
    top: 6pt;
    left: 18pt;
    border-radius: 2pt;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.colGToggleDroite {
    position: absolute;
    width: 7.5pt;
    height: 1.6pt;
    background-color: #ffffff;
    top: 6pt;
    left: 22.5pt;
    border-radius: 2pt;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.activeRotDroite {
    position: absolute;
    width: 7.5pt;
    height: 1.6pt;
    background-color: #ffffff;
    top: 6pt;
    left: 22.5pt;
    border-radius: 2pt;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#phraseHyperlien {
    display: none;
}


/* ================================================================= */
/* Styles complémentaires pour les pages d'information. */

.a_Annexe {
    line-height: 18pt;
    font-size: 11pt;
}

.a_titre {
    font-size: 12pt;
}
