/* Styles Dictionnaire de l'Academie pour mise en pages HTML. */
/* Laurent Catach, 2017-2018 + Diagonal */

/* VERSION POUR WEB */

BODY {
    font-size: 95%;
}

.fa-info-circle:before {
    font-size: 112%;
}

.s_Article {
    line-height: 160%;
    font-size: 105%;
}
.s_cat {
    font-size: 90%;
}
.s_ConjPlur {
    font-size: 90%;
}
.s_Entree {
    font-size: 135%;
}
.s_bdc {
    font-size: 160%; 
}
.s_etm {
    font-size: 90%;
}
.s_etq1 {
    font-size : 70%;
}
.s_Marq {
    font-size: 80%;
}
.s_Meta {
    font-size: 95%; 
}
.s_NoDivNum {
    font-size: 85%;
}
.s_NoDivRom {
    font-size: 95%;
}
.s_rvh .s_NumHom {
    font-size: 100%;
}
.s_NumHom {
    font-size: 85%;
}
.s_pc {
    font-size: 110%;
}
.s_ConjPlur .s_Pron {       
    font-size: 100%;
}
.s_Pron {
    font-size: 90%;
}
.s_Phon {
    font-size: 95%;
}
.s_Notice .s_EnTete {
    line-height: 180%;
}
.s_EnTete {
    line-height: 150%;
}
.s_zEtym .s_Renv {
    font-size: 100%;
}
.s_rem .s_Renv {
    font-size: 100%;
}
.s_Meta .s_Renv {
    font-size: 100%;
}
.s_Renv {
    font-size: 95%;
    color: #1e4986;
}
.s_SsEntree {
    font-size: 100%;
}
.s_uni {
    font-size: 110%;
}
.s_Meta .s_x {
    font-size: 120%;
}
.s_Entree .s_x {
    font-size: 75%;
}
/*----------*/
.s_rem {
    font-size: 90%;
}
.s_ZoneRem {
    line-height: 150%;
    font-size: 95%;
}
/* Voir aussi le style blocSectionRemarque (pour le bandeau), reintegre ici : */
.blocSectionRemarque {
    font-size : 100%;
}
/*----------*/
.s_zEtym {
    font-size: 90%;
    line-height: 150%;
}
.s_ZoneLiens {
    font-size: 95%; 
    line-height: 150%;
}
.blocSectionLiens {
    font-size: 100%;
}
.s_ortho{
    font-size: 120%;
}
.s_ZoneOrtho {
    font-size : 95%;
    line-height : 150%;
}
.blocSectionOrtho {
    font-size : 100%;
}
.s_OrthoPlus {
    font-size : 90%;
}
.s_ortho_regle {
    font-size: 95%;
}
/*----------*/
.s_Aster {
    font-size: 85%;
}
.bt_ff {
    font-size: 80%;
}

/* ================================================================= */
/* Styles complementaires pour les notices "Dire, ne pas dire" etc. : */
.s_Notice {
    font-size: 105%;
    line-height: 170%;
}
.s_Notice .s_Entree {
    font-size: 18pt;
}
.s_Notice th {
    font-size: 75%;
}
.s_rubn {
    font-size: 80%;
    line-height: 14pt;
}
.s_ZoneRenv {
    font-size : 95%;
    line-height : 150%;
}
.s_cit {
    font-size : 95%;
}


/* ================================================================= */
/* Styles complementaires pour DAF8 (v2) : */


.s_Article8 .s_SsEntree {
    font-size: 110%;
}
.s_ZoneHom {
    font-size : 85%;
}


/* ================================================================= */
/* Styles complementaires pour les verbes (Verbes.XML). */
/* Repris de Verbes.CSS. 08/2018. */

.s_Verbe{
    line-height: 160%;
    font-size: 105%;
}

.s_InfosSerie {
    font-size: 100%;
}
.s_RemSerie {
    font-size: 90%;
    line-height: 140%;
}
.s_mrq {
    font-size: 90%;
    line-height: 14pt;
}


