/* Styles Dictionnaire de l'Académie pour mise en pages HTML. */
/* Laurent Catach, 2017-2018 + Diagonal */
/*  Repris oct. 2019 pour v2 (DAF1-DAF9). */

BODY {}

a:any-link {
    /* Changement Daniel */
    /* text-decoration: none; */
    cursor: auto;
}

/* Ajout Daniel */
a:focus {
    color: #B7207A;
    outline: #B7207A solid 1px;
}

/* Ajout Daniel */
focus {
    color: #B7207A;
    outline: #B7207A solid 1px;
}

.sectionToggle {
    margin: 0px;
    padding: 0px;
}

.titreBlocSection {
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 15pt;
}

.fa-info-circle:before {
    content: "\f05a";
}


.s_Article {
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 300;
    clear: both;
    text-align: justify;
    padding-top: 8pt;
    background-color: white;
}

.s_cat {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: #464646;
}

.s_ConjPlur {
    font-family: 'Merriweather', 'Georgia', serif;
    font-style: normal;
    font-weight: 300;
}

.s_Def {
    font-style: normal;
    font-weight: 300;
    color: black;
    font-variant: normal;
}

/* ------ Divisions : */
.s_DivRom .s_DivNum {
    padding-right: 0;
}

.s_DivNum {
    margin-top: 10pt;
    margin-bottom: 13pt;
    margin-left: 18pt;
    padding-right: 12pt;
    clear: both;
    text-indent: 0;
}

.s_DivNum .s_DivPar {
    padding-right: 0;
}

.s_DivPar .s_DivPar {
    margin-left: 0;
    padding-right: 0;
}

.s_Article8 .s_DivPar {
    margin-left: 0;
    /*  ajout v2 */
}

.s_DivPar {
    margin-top: 8pt;
    margin-bottom: 8pt;
    margin-left: 12pt;
    padding-right: 12pt;
    text-indent: 0;
}

.s_DivPar2 {
    margin-top: 10pt;
    text-indent: 0;
    margin-left: 12pt;
}

.s_DivRom {
    margin-bottom: 15pt;
    margin-left: 10pt;
    margin-right: 15pt;
    text-indent: 0;
    clear: both;
}

.s_DivAlpha {
    margin-top: 10pt;
    margin-bottom: 15pt;
    margin-left: 10pt;
    margin-right: 0;
    text-indent: 0;
    clear: both;
}

.s_DivTiret {
    margin-top: 4pt;
    margin-left: 8pt;
    text-indent: -8pt;
    margin-bottom: 8pt;
}

h2.s_Entree {
    display: inline;
    font-style: normal;
    font-variant: normal;
    color: rgb(17, 83, 150);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-right: 2pt;
    text-shadow: 1px 1px 1px rgb(204, 204, 204);
    text-transform: uppercase;
}

h2.s_bdc {
    text-transform: none;
    font-variant: small-caps;
}

.s_etm {
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
}

.s_etq1 {
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    /*  color: rgb(160,160,160);   */
    /*  color: rgb(128, 128, 128); */
    color: rgb(80, 80, 80);     /* v3 (LC) */
    /* v2 */
    border: dotted 1px silver;
    background-color: rgb(240, 240, 240);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    /* v2 */
    cursor: help;
    vertical-align: 2pt;
    margin-right: 3px;

    font-size: 75%;
}

.s_gls {
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
}

.s_im {
    font-style: italic;
}

.s_Marq {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    font-style: normal;
    font-weight: 300;
    padding: 2px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    cursor: help;
}

.s_Meta {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    color: rgb(80, 80, 80);
    letter-spacing: 0;
}
.blocBandeau .s_Meta {
	color: white;
}

.s_NoDivNum {
    font-weight: 700;
    margin-right: 1pt;
    /* color: rgb(0, 76, 152); */
    color: rgb(17, 83, 150);
    font-family: 'Merriweather', serif;
}

.s_NoDivRom {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(17, 83, 150);
    padding: 0;
}

.s_NoDivRomToggle {
    color: rgb(17, 83, 150);
    font-weight: 700;
    transform: translateX(2%);
    width: 100%;
    display: block;
    text-align: center;
}

.s_rvh .s_NumHom {
    font-style: italic;
    font-weight: 300;
}

.s_ZoneHom .s_NumHom {
    font-style: normal;
    font-weight: normal;
}

.s_NumHom {
    font-family: 'Merriweather', 'Georgia', serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
}

.s_pc {
    font-variant: small-caps;
}

.s_EnTete .s_Pron {
    margin-left: 4pt;
    margin-right: 4pt;
}

.s_ConjPlur .s_Pron {
    margin-left: 0;
    margin-right: 0;
}

.s_Pron {
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.s_Phon {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: 'Open Sans', sans-serif;
}

.s_Notice .s_EnTete {
    margin-right: 20%;
    text-indent: 0;
    margin-left: 0;
    text-align: left;
}

.s_EnTete {
    margin-left: 10pt;
    text-indent: 0pt;
    margin-bottom: 20pt;
    margin-top: 8pt;
    text-align: left;
}

.s_Corps {
    margin-top: 5pt;
    margin-left: 10px;
    text-indent: 0;
}

.s_zEtym .s_Renv {}

.s_rem .s_Renv {}

.s_Meta .s_Renv {}

.s_Renv {
    font-style: normal;
    font-weight: 300;
    font-family: 'Merriweather', serif;
}

.s_rvh a:any-link {
    /* Changement Daniel */
    color: #B7207A;
}

/* Ajout Daniel */
.s_rvh a:focus {
    outline-style: solid;
    outline-color: #B7207A;
}

.s_rvh:hover {
    background-color: rgb(224, 233, 240);
    padding: 1px 0;
    border-radius: 3px;
    color: rgb(17, 83, 150);
}

.s_rvh_x {
    font-style: normal;
}

.s_rvh {
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
}

.s_rem .s_SsEntree {
    font-weight: 600;
}

.s_SsEntree {
    font-weight: 500;
    font-variant: normal;
    color: rgb(17, 83, 150);
}

.s_uni {
    font-family: 'Arial Unicode MS', 'Lucida Grande', 'Lucida sans Unicode', 'Times New Roman', serif;
}

.s_Meta .s_x {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.s_Def .s_x {
    font-style: italic;
}

.s_im .s_x {
    font-style: normal;
}

.s_Entree .s_x {
    font-weight: 300;
    font-style: normal;
    font-family: 'Merriweather', serif;
    /* color: rgb(80, 80, 80);  */
    text-transform: none;
}

.s_x {
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
}

.s_Exemple {
    font-style: italic;
    font-weight: 300;
}

/*----------*/
.s_rem {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(80, 80, 80);
}

.s_ZoneRem {
    margin-left: 15pt;
    margin-right: 15pt;
    padding-top: 10pt;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 300;
    color: black;
    overflow: hidden;
}

.s_ZoneRem_contenu {
    /* Diagonal */
    padding: 5pt 12pt;
    border: solid 1px #e0e9f0;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    text-indent: 0;
}

/* Voir aussi le style blocSectionRemarque (pour le bandeau), réintégré ici : */
.blocSectionRemarque {
    display: block;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 2pt 40pt 2pt 12pt;
    background-color: #e0e9f0;
    color: rgb(17, 83, 150);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    text-indent: 0;
}

/*----------*/
.s_zEtym {
    font-style: normal;
    font-weight: 300;
    color: #464646;
    text-indent: 0;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;
    background-color: #e0e9f0;
    margin: 10pt 20pt;
    padding: 8pt 10pt 8pt 10pt;
    width: calc(100% - 60pt);
}

/*----------*/
.s_LienMedia {
    margin: 10pt;
    list-style: square;
    text-align: left;
    margin-left: -17pt;
}

.s_LienMedia a,
.s_LienMedia a:hover,
.s_LienMedia a:visited {
    text-decoration: none;
}

.s_LienMedia a,
.s_LienMedia a:visited {
    color: rgb(60, 60, 60);
}

.s_LienMedia a:hover {
    /* color: #4378c4; */
    color: rgb(17, 83, 150);   /* v3 (LC) */
    text-decoration: underline;
}

.s_ZoneLiens {
    margin: 25pt 20pt 20pt 40pt;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background-color: rgb(240, 240, 240);
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-indent: 0;
    max-width: 640px;
}

.s_ZoneLiens li {
    margin: 6px 0;
    list-style: square;
}

.s_ZoneLiens ul {
    margin: 5px 0;
}

.blocSectionLiens {
    position: relative;
    display: block;
    font-weight: 400;
    letter-spacing: 0.05em;
    min-height: 18px;
    margin: 0;
    padding: 3pt;
    padding-left: 10pt;
    padding-right: 40pt;
    /* Changement Daniel */
    background-color: #646464;
    color: white;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.s_ZoneLiens_contenu {
    padding: 5pt 0;
}

.s_dvpm {}

.s_dvpm ul {
    margin-left: -15pt;
    list-style: disc;
}

.s_dvpm li {
    list-style: disc;
}

/* Repris de StylesA.CSS : */
.blocBandeauFermer {
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

/*-----Rubriques Orthographe : -----*/
.s_SsEntree .s_ortho {
    margin: 0 1px;
}

.s_ConjPlur .s_ortho {
    margin: 0 1px;
}

.s_ortho {
    font-style: normal;
    font-weight: 300;
    margin: 0 3px;
    cursor: help;
}

.s_ZoneOrtho {
    margin: 20pt 20pt 20pt 40pt;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: white;
    padding: 0;
    text-indent: 0;
    max-width: 640px;
    text-align: left;
}

.blocSectionOrtho {
    position: relative;
    display: block;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 2pt 40pt 2pt 12pt;
    background-color: rgb(230, 225, 215);
    color: rgb(80, 80, 80);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

.s_ZoneOrtho_contenu {
    padding: 5pt 12pt;
    border: solid 1px rgb(230, 225, 215);
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

.s_OrthoNew {
    font-weight: bold;
}

.s_OrthoPlus {
    text-align: right;
    font-style: italic;
    font-weight: normal;
    margin: 8px 0;
}

.s_OrthoM {
    color: rgb(17, 83, 150);
}

.s_ortho_regle:before {
    content: "– ";
}

.s_ortho_regle {
    font-style: normal;
    font-weight: 300;
    margin: 6pt 20pt;
    text-indent: -10pt;
    margin-left: 20pt;
}

/*----------*/
.s_Aster {
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    margin-right: 4px;
    vertical-align: 4px;
    cursor: help;
}

/*----------*/
.bt_ff:hover {
	/* Correction Daniel */
    background-color: #B7207A;
    text-decoration: none;
    color: white;
}

.bt_ff:visited {
    /* Correction Daniel */
    background-color: #0063AD;
    text-decoration: none;
    color: white;
}

.bt_ff:any-link {
    text-decoration: none;
    color: white;
}

.bt_ff {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 2px 5px;
    /* Correction Daniel */
    background-color: #007aba;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: 2px;
    margin: 0 4px;
    color: white;
}

/*----------*/
.bt_ff:hover,
.bt_ff:focus {
    /* Correction Daniel */
    background-color: #B7207A;
    text-decoration: none;
    color: white;
    outline: none;
}

/* Ajout Daniel */
.bt_ff:hover span,
.bt_ff:focus span {
    text-decoration: none;
    color: white;
}

.s_lca {
    font-style: italic;
}

sup {
    /* "sup" redéfini pour "8<sup>e</sup> édition" in zone etq1 : */
    /*
	vertical-align: super; 
	text-transform : none;
*/
    /* Repris 04/2020 pour avoir des hauteurs de lignes homogènes : */
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 80%;
    text-transform: none;
}

.s_imgtxt {
    max-height: 28px;
    vertical-align: bottom;
}



/* ================================================================= */
/* Styles complémentaires pour les notices "Dire, ne pas dire" etc. : */
.s_Notice {
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 30pt;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    clear: both;
    text-align: justify;
    padding-top: 4pt;
}

.s_Notice .s_Entree {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #c34300;
    text-shadow: none;
}

.s_Notice .s_SsEntree {
    color: #c34300;
}

.s_Notice table {
    width: 85%;
    margin: 20pt 30pt;
    border-collapse: collapse;
}

.s_Notice th {
    border: solid 1px silver;
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 2px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.s_Notice tr {}

.s_Notice td {
    border: solid 1px silver;
    border-top: none;
    text-align: left;
    padding: 6px;
    width: 50%;
    vertical-align: top;
    /* 
    margin-left: 8pt;
    text-indent: -8pt;
    */
}

.s_rubn {
    text-align: right;
    color: #c34300;
    font-weight: 700;
    font-style: normal;
    margin: 4pt 0 8pt 0;
}

.s_Notice ul {
    margin: 0;
}

.s_Notice li {
    margin: 0 10pt;
    list-style-type: disc;
}

.s_ZoneRenv {
    margin: 20pt 20pt 20pt 40pt;
    font-family: 'Merriweather', serif;
    text-indent: 0;
    max-width: 80%;
    text-align: left;
}

.s_cit {
    font-style: normal;
    font-weight: 300;
    margin: 15pt 40pt;
    text-indent: 0;
    font-family: 'Merriweather', serif;
}

.s_MotCle {
    font-weight: 400;
    color: #c34300;
}

.s_Notice a:any-link {
    color: black;
    text-decoration: underline;
}


/* ================================================================= */
/* Styles complémentaires pour DAF8 : */

.s_Article8 {}

.s_SsArticle {
    margin-top: 15pt;
    margin-bottom: 15pt;
}

.s_mnt {
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    font-size: 110%;
    /* ajout v2 */
}

.s_dom {}

.s_Article8 .s_SsEntree {
    font-variant: small-caps;
    font-size: 110%;
    /* ajout v2 */
}

.s_grec {}

.s_Article8 .s_rvh {
    font-style: normal;
}

.s_ZoneHom {
    margin: 8pt 40pt;
}

.s_hasp {
    font-family: Merriweather, Serif;
    font-size: 80%;
    padding: 0 2px;
    cursor: help;
}

.s_LienMedia .s_gras {
    font-weight: 400;
}

.s_gras {
    font-style: normal;
    font-weight: bold;
}


/* ================================================================= */
/* Pour Appareil mobile */

@media only screen and (max-width: 768px) {
    /* Diagonal */

    BODY {
        font-size: 100%;
        /* Diagonal */
    }

    .s_Article {
        padding: 0 0.5rem 0.5rem;
        /* Diagonal */
        text-align: left;
        /* Diagonal */
        /* Ajouts LC : */
        font-size: 100%;
        line-height: 150%;
    }

    .s_DivNum {
        /* Diagonal */
        margin-top: 10pt;
        margin-bottom: 10pt;
        margin-left: 4pt;
        padding-left: 4pt;
        padding-right: 4pt;
        clear: both;
        text-indent: 0;
    }

    .s_DivRom {
        padding: 0 0rem 0rem;
        /* Diagonal */
        text-indent: 0pt;
        /* Diagonal */
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .blocBandeau .s_NoDivRom {
        /* ajout LC v2 */
        text-align: center;
    }

    .s_NoDivRom {
        text-align: left;
        /* Diagonal */
    }

    .s_Notice {
        text-align: left;
        /* Diagonal */
        font-weight: normal;
        line-height: 150%;
    }

    .s_EnTete {
        margin-left: auto;
        /* Diagonal */
        margin-right: auto;
        /* Diagonal */
        width: 96%;
        /* Diagonal */
        text-align: left;
        /* Diagonal */
        text-indent: 0pt;
        /* Diagonal */
        margin-top: 30pt;
        /* Diagonal */
        line-height: 140%;
        /* réduction */
    }

    .s_ZoneRem {
        margin-left: auto;
        /* Diagonal */
        margin-right: auto;
        /* Diagonal */
        width: 96%;
        /* Diagonal */
        text-align: left;
        /* Diagonal */
        line-height: 130%;
    }

    .s_ZoneOrtho {
        margin-left: auto;
        /* Diagonal */
        margin-right: auto;
        /* Diagonal */
        width: 96%;
        /* Diagonal */
        text-align: left;
        /* Diagonal */
        line-height: 130%;
    }

    .s_zEtym {
        line-height: 130%;
        /* réduction */
    }

    .s_ZoneLiens {
        margin: 20pt 10pt;
        line-height: 130%;
    }

    /* ---- Pour les notices : */
    .s_Notice table {
        width: 98%;
        margin: 15pt 5pt;
    }

    .s_ZoneRenv {
        margin: 15pt 10pt 15pt 15pt;
        max-width: 80%;
    }

    .s_cit {
        margin: 15pt 20pt;
    }

    .s_Notice td {
        font-size: 95%;
        line-height: 130%;
    }

    .s_Notice .s_EnTete {
        margin-top: 10pt;
    }

    .s_ZoneHom {
        font-size: 85%;
        margin: 8pt 15pt;
    }
}

/* ================================================================= */
/* Complément Diagonal pour bouton "i" des blocs Voir aussi : */
.colDInfo {
    position: absolute;
    display: block;
    right: 0pt;
    top: 0pt;
    margin: 0;
    margin-top: 0pt;
    height: 10pt;
    width: 12pt;
    border: none;
    padding-top: 2pt;
    padding-right: 10pt;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.fas {
    color: rgb(17, 83, 150);
    display: inline-block;
}

.fas:hover {
    /* color: #828282; */
    color: rgb(80,80,80);    /* v3 (LC) */
}


/* ================================================================= */
/* Styles complémentaires pour les verbes (Verbes.XML). */
/* Repris de Verbes.CSS. 08/2018. */

.s_Verbe {
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 300;
    clear: both;
    text-align: left;
    text-indent: 0;
    padding-top: 8pt;
    background-color: white;
}

.s_InfosSerie {
    font-family: 'Opens Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 6pt 10pt 10pt 15pt;
}

.s_RemSerie {
    font-family: 'Opens Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 10pt 20pt;
    max-width: 600px;
    padding: 4px 10px;
    background-color: rgb(242, 246, 252);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.s_RemSerie LI {
    margin: 4pt 0;
    margin-left: 0;
}

.s_RemSerie u {
    text-decoration: underline;
}

.s_mrq UL {
    list-style: square;
    margin: 0;
}

.s_mrq LI {
    margin: 4pt 0;
    margin-left: -8pt;
    text-indent: 0;
}

.s_mrq {
    margin: 0 0 10pt 10pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    text-align: left;
}

/* Pour Appareil mobile : */
@media only screen and (max-width: 768px) {
    /* Diagonal */

    .s_Verbe {
        padding: 0 0.5rem 0.5rem;
        /* Diagonal */
        text-align: left;
        /* Diagonal */
        /* Ajouts LC : */
        font-size: 100%;
        line-height: 150%;
    }
}


/* ================================================================= */
/* Styles complémentaires pour les pages d'information. */

.a_Annexe {
    background-color: white;
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 105%;
    line-height: 150%;
    margin: 10px;
    text-align: justify;
    padding: 10px;
    max-width: 900px;
}

.a_preface {}

.a_chap {
    margin: 10pt 5% 40pt 30%;
    font-size: 90%;
    text-align: right;
}

.a_dvpl {
    text-indent: -10pt;
    margin: 10pt 0 10pt 15pt;
}

.a_preface .a_dvp {
    text-indent: 20pt;
}

.a_dvp {
    margin: 4pt;
    text-indent: 0;
}

.a_inter a:link {
    color: rgb(17, 83, 150);
}

.a_inter {
    margin-top: 30pt;
    margin-bottom: 10pt;
    font-weight: bold;
    color: rgb(17, 83, 150);
    font-size: 110%;
    text-align: left;
    border-bottom: dotted 1px rgb(17, 83, 150);
    max-width: 80%;
    clear: both;
}

.a_inter1 {
    margin-top: 30pt;
    margin-bottom: 10pt;
    font-weight: bold;
    color: black;
    font-size: 120%;
    text-align: center;
}

.a_inter2 {
    margin-top: 25pt;
    margin-bottom: 10pt;
    font-style: italic;
    font-weight: 600;
    /* color: rgb(17, 83, 150); */
    color: black;
    font-size: 100%;
    text-align: left;
    margin-left: 15px;
    /* v2 */
}

.a_JO {
    margin: 10pt 10pt 15pt 25pt;
    background-color: rgb(240, 240, 240);
    padding: 4pt 8pt;
    font-size: 95%;
    font-style: normal;
    line-height: 150%;
    border-radius: 20px;
}

.a_sign {
    text-align: left;
    margin: 30pt 5% 30pt 60%;
}

.a_titre {
    color: rgb(17, 83, 150);
    font-weight: bold;
    font-size: 120%;
    margin: 10pt 0 30pt 0;
    text-align: center;
    line-height: 150%;
}

.a_dvpc {
    margin: 15pt 20pt;
    text-align: center;
    font-size: 90%;
    line-height: 16pt;
}

.a_emp {
    font-weight: 400;
    color: rgb(17, 83, 150);
    background-color: rgb(240, 240, 240);
    padding: 1pt 4pt;
    border-radius: 3px;
}

.a_dvpc .a_img {
    margin-bottom: 10pt;
}

.a_img {
    border: dotted 1px silver;
    box-shadow: 2px 2px 2px #CCCCCC;
    -webkit-border-radius: 4px;
    -border-radius: 4px;
    vertical-align: text-bottom;
    max-width: 95%;
}

.a_Annexe a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.a_Annexe a:any-link {
    /* Changement Daniel */
    color: #B7207A;
}

.a_Annexe .a_tdm a:any-link {
    /* Ajout LC v3 : */
    color: rgb(17, 83, 150);
}

.a_sep {
    text-align: center;
    margin: 20pt 0;
}

.a_Annexe table {
    margin-left: 5%;
    border: dotted 1px silver;
    border-collapse: collapse;
    width: 95%;
    max-width: 600px;
}

.a_Annexe td {
    min-width: 180px;
    text-align: left;
    vertical-align: top;
    border-bottom: dotted 1px silver;
    padding: 3px 2px;
    line-height: 180%;
}

.a_Annexe th {
    min-width: 180px;
    text-align: center;
    vertical-align: top;
    border-bottom: dotted 1px silver;
    padding: 3px 2px;
    background-color: rgb(240, 240, 240);
    line-height: 180%;
}

.a_Annexe .s_Marq {
    font-size: 85%;
}

.a_Annexe .s_rvh {
    font-style: normal;
    text-decoration-style: dotted;
}

.a_Annexe .s_rvh a:any-link {
    color: black;
}

.a_tdm {
    margin: 12pt 10pt 12pt 40pt;
    font-size: 90%;
    font-style: italic;
    line-height: 120%;
}

.a_tdm1 {
    margin: 4pt 0;
    list-style: none;
}

.a_Annexe ul {
    list-style-type: square;
}

.a_Annexe li {
    /* margin-top: 8pt;  */
    margin-bottom: 2pt;
}

.a_note {   /* ajout v3 */
	font-size: 95%;
	line-height: 130%;
	text-indent: 0;
	margin: 20pt 15pt 20pt 25pt;
	border-left: solid 2px silver;
	padding-left: 6px;
}

/* Annexes - Pour Appareil mobile */
@media only screen and (max-width: 768px) {
    .a_Annexe {
        line-height: 130%;
        margin: 6px;
        text-align: left;
        padding: 6px;
        padding-top: 20px;
    }

    .a_tdm {
        margin-left: 8pt;
    }

    .a_inter {
        max-width: 95%;
    }

    .a_Annexe td {
        min-width: 80px;
        line-height: 150%;
    }

    .a_Annexe th {
        min-width: 80px;
    }

    .a_Annexe table {
        margin-left: 4pt;
        width: 100%;
    }
    .a_chap {margin-left: 20pt; margin-bottom: 20pt;}
}

/*==================== AJOUTS VERSION 2, 10/2019 ================== */

.s_corr {
    /* background-color: #fbf9bf;  */
    /*text-decoration: underline grey wavy;*/
}

.s_AppNote {
    vertical-align: 1px;
}

.s_suppr {}

.s_SousArticle {
    margin: 10pt;
}

.s_ZoneFam {
    margin: 25pt 30% 20pt 30pt;
    background-color: rgb(248, 245, 242);
    border-radius: 6px;
    padding: 4px 8px;
}

.s_ZoneFam .s_rvh {
    text-transform: uppercase;
}

.s_ZoneOrtho_contenu .s_Entree {
    font-size: 13pt;
    color: black;
}

.blocSectionOrtho .s_x {
    font-size: 85%;
}

.s_EntreeVar {
    font-style: normal;
    font-weight: 700;
    font-variant: small-caps;
    color: rgb(17, 83, 150);
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    /* 
    margin-right: 2pt;
    text-shadow: 1px 1px 1px rgb(204, 204, 204);
    text-transform: uppercase;
 */
}

.s_SsEntreeV {
    color: rgb(17, 83, 150);
}

.s_SsEntree .s_im {
    font-variant: none;
    font-size: 100%;
}

.s_page A:link {
    text-decoration: none;
    /* color: rgb(67, 120, 196); */
    color: rgb(17, 83, 150);   /* v3 (LC) */
}

.s_page A:hover {
    text-decoration: underline;
}

.s_page A:visited {
    text-decoration: none;
    /* color: rgb(67, 120, 196); */
    color: rgb(17, 83, 150);   /* v3 (LC) */
}

.s_page {
    font-size: 75%;
    font-family: Verdana;
    /* color: grey; */
    color: rgb(80,80,80);   /* v3 (LC) */
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-variant: normal;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    padding: 3px 4px;
    border: dotted 1px rgb(67, 120, 196);
    margin-right: 3px;
}

.s_pages {
    margin-left: 10pt;
    margin-top: 40pt;
    font-size: 85%;
    line-height: 150%;
    text-align: left;
    border-top: dotted 1px silver;
    max-width: 700px;
    padding-top: 3px;
}

.c_corr {
    /* color: rgb(179, 167, 142); */
    color: rgb(121, 114, 99);   /* v3 (LC) */
    font-size: 10pt;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
}

.s_lettrine {
    float: left;
    height: 120px;
    margin: 8px 40px 4px 8px;
    border-radius: 4px;
}

.s_err {
    margin-left: 1px;
    background-color: #f9f7f4;
    padding: 0 4px;
    border: dotted 1px #ccc6ba;
    border-radius: 3px;
    color: #0f6da8;
    font-family: Verdana;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    vertical-align: 1px;
    position: relative;
    cursor: help;
    vertical-align: 4px;
}

.s_err a:link,
.s_err a:hover {
    text-decoration: none
}

.s_ptfn {
    text-align: center;
    margin: 40pt 10% 20pt 10%;
    border-top: dotted 1px silver;
    padding-top: 4px;
    font-size: 90%;
    font-style: normal;
    font-weight: normal;
}

.infoBulleMot {
    position: relative;
    /* les .infobulle deviennent référents */
    cursor: help;
}

.infoBulleMot:hover {
    text-decoration: none;
    border-bottom: dotted 1px #0f6da8;
}

.infoBulleMot:hover::after,
.infoBulleMot:focus::after,
.bt_ff:focus .infoBulleMot::after {
    content: attr(text-info);
    position: absolute;
    top: 1.7em;
    left: 50%;
    transform: translateX(-20%);
    /* on centre horizontalement  */
    z-index: 1;
    /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;

    padding: 5px 8px;
    background: #f9f7f4;
    border-color: #ccc6ba;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    text-indent: 0;
    color: #0f6da8;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
}

/*=================== Version 2 - Pour Appareil mobile */
@media only screen and (max-width: 768px) {
    .s_ZoneFam {
        margin-right: 20pt;
        margin-left: 20pt;
    }

    .s_lettrine {
        margin: 8px 16px 2px 8px;
    }

    .s_ptfn {
        line-height: 140%;
    }
}


/*=================== Version 2 - pour Annexes */
#TableGallica .a_td1 {
    width: 100px;
    min-width: 100px;
    text-align: center;
    border-left: dotted 1px silver;
    border-right: dotted 1px silver;
    padding: 3px 6px;
}

#TableGallica .a_td2 {
    min-width: 240px;
    text-align: left;
    padding: 3px 6px;
}

.a_inter_sp {
    height: 80px;
}


/*=================== Version 3 (ajouts LC) */
/* Listes (divisions) :*/
.s_Div_ol {
    padding-left: 0;     
	margin-top: 0;
	list-style: none;
}

/* Courrier des internautes : */
.s_question {
	margin: 10pt 20pt;
	text-indent: 0;
}
.s_reponse {
	margin: 15pt 20pt;
	text-indent: 0;
}
.s_atrQR {
	text-align: right;
	margin: 6pt 0 10pt 0;
	text-indent: 0;
	font-size: 90%;
	font-style: normal;
	font-weight : 500;
}
.s_libQR {
	font-style: normal;
	font-size: 110%;
	font-weight: normal;
	font-family: Open Sans, sans serif;
	color: #c34300;
	border-bottom: solid 1px #c34300;
	padding-bottom: 2px;
	text-indent: -10pt;
	width: 220px;
	margin: 10pt 0 5pt 0;
}
.s_question p, .s_reponse p {
	margin: 3pt 0;
}

