/* menubar actions */

ul.checkboxes {
	list-style: none;
	margin: 0;
	padding: 0;
}

[role="checkbox"] {
	display: inline-block;
	position: relative;
	margin: 0.5rem 1rem;
	padding: 1rem 2.125rem;
  background-color: #000;
  border: #000 solid 2px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

[role="checkbox"]::before,
[role="checkbox"]::after {
	position: absolute;
	top: 50%;
	left: 1.5rem;
	transform: translate(-50%, -50%);
  content: "";
  transition: all ease-in-out 0.2s;
}

[role="checkbox"]::before {
	width: 1rem;
	height: 1rem;
}

[role="checkbox"][aria-checked="true"] {
	padding: 1rem 1.5rem 1rem 2.75rem;
}

[role="checkbox"][aria-checked="mixed"]::after {
	display: block;
	width: 8px;
	border-bottom: 0.125em solid #fff;
	transform: translate(-50%, -50%) rotateZ(45deg);
	transform-origin: center center;
}

[role="checkbox"][aria-checked="mixed"]:active::after,
[role="checkbox"][aria-checked="true"]::after {
	display: block;
	width: 0.5em;
	height: 0.8em;
	border: solid #fff;
	border-width: 0 0.125em 0.125em 0;
	transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

[role="checkbox"]:focus {
  outline: none;
  border: #ccc dotted 2px;
}

[role="checkbox"]:focus::before {
	width: 16px;
	height: 16px;
	box-sizing: content-box;
	border-color: hsl(216, 94%, 73%);
	border-width: 3px;
	border-radius: calc(0.2em + 3px);
}
