<style>

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

.color-red {
    color: #eb0000;
}

.color-green {
    color: #008800;
}

.color-blue {
    color: #5e5eff;
}

p[class^="bg-color"] {
    padding: 2rem 3rem;
    min-width: 10em;   
}

p.bg-color-red {
    background-color: #eb0000;
}

p.bg-color-green {
    background-color: #008800;
}

p.bg-color-blue {
    background-color: #5e5eff;
}

</style>

<main role="main">


<p class="bg-color color-red">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>
<p class="bg-color-red color-white">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>
<p class="bg-color-red color-black">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>

<p class="bg-color color-green">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>
<p class="bg-color-green color-white">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>
<p class="bg-color-green color-black">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>

<p class="bg-color color-blue">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>
<p class="bg-color-blue color-white">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>
<p class="bg-color-blue color-black">Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes.</p>

</main>