<style>

:root {
    --loading-lt: rgba(145, 145, 145, 1);
    --loading-dk: rgba(0, 0, 0, 0.92);
}

.loading-component {
    background-color: #fff;
    opacity: 0.8;
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 4rem auto;
}

.loading-component .loading-inner {
    border: 10px solid var(--loading-dk);
    border-top-color: var(--loading-lt);
    border-left-color: var(--loading-lt);
    background-color: transparent;
    border-radius: 150px !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: loading 1s infinite linear;
    -moz-animation: loading 1s infinite linear;
    -ms-animation: loading 1s infinite linear;
    -o-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}


</style>

<main role="main">

<span class="loading-component"><span class="loading-inner"></span></span>

</main>