<style></style>

<main role="main" id="main">
    <form>
        <div class="form-group">
            <label for="email"><span class="required">*</span> Votre adresse électronique&nbsp;(exemple : nom@exemple.fr) </label>
            
            <div class="input-icon left">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input id="username" autocomplete="email" class="login-field" type="email" required name="username" maxlength="255" aria-required="true" aria-label="@(string.IsNullOrEmpty(config.LoginLabel) ? Resources.CustomerAccountModule_Username : config.LoginLabel)" value="@Model.ForgottenIncorrectEmail" oninvalid="setCustomValidity('Veuillez saisir une adresse valide (exemple : nom@exemple.fr)')"
                oninput="setCustomValidity('')"/>
            </div>
            
        </div>
        <button type="submit">Valider</button>
    </form>
</main>
