<style></style>

<main role="main" id="main">
    <form>
        <div class="form-group">
            <label for="email"><span class="required">*</span> Votre adresse électronique&nbsp;(exemple : nom@exemple.fr) </label>
            <input
            type="email"
            class="form-control"
            id="email"
            autocomplete="email"
            aria-required="true"
            required="required"
            oninvalid="setCustomValidity('Veuillez saisir une adresse valide (exemple : nom@exemple.fr)')"
            oninput="setCustomValidity('')"
            name="email"
            value=""
            />
        </div>
        <button type="submit">Valider</button>
    </form>
</main>
