<style>

.skip-menu {
    list-style: none;
    max-width: 150px;
    position: relative;
    margin: 0;
}

.skip-menu li {
    list-style: none;
}

.skip-menu a {
    left: -7000px;
    padding: 0;
    position: absolute;
    text-decoration: none;
    z-index: 1000;
    display: inline-block;
}

.skip-menu a:focus {
    left: 0;
    position: relative;
}

</style>

<header role="banner">
    <ul id="top" class="skip-menu">
        <li><a href="#main">Skip to content</a></li>
        <li><a href="#searchWidget">Skip to search</a></li>
        <li><a href="#navMain">Go to navigation</a></li>
    </ul>
    <!-- header content and nav -->
    <div id="searchWidget">
        Search form
    </div>
    <div id="navMain">
        Main navigation
    </div>
    <!-- /header content and nav -->
</header>
<main role="main" id="main">
    Main content
</main>