/* .disclosure-nav styles */
.disclosure-nav {
  border: #737373 1px solid;
  background-color: #fff;
  display: flex;
  list-style-type: none;
  padding: 0;
  position: relative;
}

/* subnavs */
.disclosure-nav ul {
  border: #737373 1px solid;
  background-color: #fff;
  /*display: flex;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
}

.disclosure-nav li {
  margin: 0;
}

.disclosure-nav ul a {
  border: 0;
  color: #000;
  display: block;
  margin: 0;
  padding: 1em;
  text-decoration: underline;
}

.disclosure-nav ul a:hover,
.disclosure-nav ul a:focus {
  background-color: #fff;
  margin-bottom: 0;
  text-decoration: none;
}

.disclosure-nav ul a:focus {
  position: relative;
}

.disclosure-nav button,
.disclosure-nav > li > a {
  background-color: #fff;
  align-items: center;
  border: 1px solid transparent;
  border-top: none;
  border-right-color: #737373;
  display: flex;
  padding: 1em;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.disclosure-nav button {
  height: 100%;
}

.disclosure-nav button::after {
  content: "";
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-right-style: solid;
  border-color: #000;
  height: 0.5em;
  margin-left: 0.75em;
  width: 0.5em;
  transform: rotate(45deg);
}

.disclosure-nav button[aria-expanded=true]::after,
.disclosure-nav button[aria-expanded=true]:focus::after,
.disclosure-nav button[aria-expanded=true]:hover::after {
  border-color: #fff;
  margin-top: 0.5rem;
  transform: rotate(225deg);
}

.disclosure-nav button:focus,
.disclosure-nav > li > a:focus{
  border-color: #333;
  position: relative;
}

.disclosure-nav button:focus,
.disclosure-nav button:hover,
.disclosure-nav button[aria-expanded=true],
.disclosure-nav > li > a:focus,
.disclosure-nav > li > a:hover {
  background-color: #333;
  color: #fff;
}

.disclosure-nav button:hover::after,
.disclosure-nav button[aria-expanded=true]::after {
  border-color: #fff;
}
