/*
Index
======
1. GENERIC STYLE
1.1 TABLE
2. TYPO
2.1 HEADINGS
2.2 TEXT
3. HEADER
4. VOLET
5. TOOLBAR
5.1 NAVIGATION ELEMENTS
5.2 RELATED LINKS
6. PAGINATION SLIDE LINEAR LAYOUT
7. SLIDES
7.1 COLUMN
7.2 FREAKY DISC
8. TOOL BLOCK (SUMMARY & CONFIG)
8.1 TOOLS ELEMENTS
9. CSS TRANSITIONS
*/

@font-face {
    font-family: "os-bold";
    src: url("../fonts/opensans-bold-webfont.eot");
    src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-bold-webfont.woff") format("woff"),
        url("../fonts/opensans-bold-webfont.ttf") format("truetype"),
        url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "os-regular";
    src: url("../fonts/opensans-regular-webfont.eot");
    src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("../fonts/opensans-regular-webfont.woff") format("woff"),
        url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
        url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
        url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
        url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
        url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
        url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: normal;
}




#screen {
    height: 100vh;
}
body {
    font-family: "Montserrat", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    background: #fff;
    color: #032c36;
    text-align: left;
}
.obs {
    mix-blend-mode: darken;
}
a {
    color: #c42419;
}
a:hover,
a:focus {
    color: #971c13;
    text-decoration: none;
}
.btn:focus,
a:focus,
select:focus,
button:focus,
.btn-close:hover,
.btn-close:focus {
    box-shadow: 0 0 0 0.25em #971c13 !important;
    outline: none !important;
}
button {
    background: none;
    border: 0;
}
.slide button:not([role]) {
    background: #c42419;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    color: #efeee3;
    font-size: 90%;
    margin-bottom: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in;
}
.slide button:not([role]) span[aria-hidden="true"] {
    color: inherit;
    line-height: 1;
}
.slide button:hover,
.slide button:focus {
    color: #fff;
    box-shadow: inset 999px 0 0 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
}
figcaption {
    font-size: 80%;
}
code,
kbd {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    color: #c42419;
    font: 400 1em/1.1 "Montserrat", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 0;
    padding: 0 0.2em;
    white-space: nowrap;
}
h3 code,
h3 kbd {
    background: inherit;
}
h3 span[aria-hidden] {
    font-style: normal;
}
.slide h2 small {
    display: inline;
    font: italic 400 0.3em "Montserrat";
}
pre code {
    border: 0;
    white-space: pre-wrap;
}
pre code span {
    line-height: 1;
}
b,
strong {
    font-weight: 400;
    font-family: "MontserratBold", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
blockquote {
    font-weight: 400;
    position: relative;
    quotes: "« " " »" "“" "”";
    z-index: 1;
}
blockquote::before {
    color: #032c36 !important;
    content: open-quote;
    font: 400 3em/0.5em sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    left: -0.5em;
    position: absolute;
    top: 0.375em;
    z-index: -1;
}
blockquote p {
    font-style: italic;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.25;
}
blockquote p::after {
    color: #032c36;
    content: close-quote;
    font: 400 1em sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
blockquote cite {
    display: block;
    font-style: normal;
    font-size: 0.5em;
    text-align: left;
}
.slide li {
    margin-top: .5em;
    margin-bottom: .5em;
}
#wrapper {
    height: calc(100vh - 2rem);
    overflow-x: hidden;
    padding-bottom: 3rem;
    top: 2rem;
}
.modeplan #wrapper {
    height: 78vh;
    margin: 10vh 8vw;
    overflow-x: hidden;
    padding: 0;
    width: 84vw;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}
.modeplan #wrapper .slide {
    scroll-snap-align: start;
}
.modeplan .tool-bar,
.modeplan .main-header {
    height: 10vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #032c36;
    -webkit-font-feature-settings: "liga", "dlig", "calt", "ordn", "c2sc", "frac", "hist";
    font-feature-settings: "liga", "dlig", "calt", "ordn", "c2sc", "frac", "hist";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0.2em;
}
h2 {
    font: 400 1.4em/1.1em "MontserratBold", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
h3 {
    font: 400 italic 1.2em "MontserratBold", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
h2 i,
h3 i,
h2 em,
h3 em {
    font-style: normal;
}
h4,
h5,
h6 {
    margin: 0.3em;
}

.slide p,
.slide ul,
.slide ol,
.slide dl,
.slide blockquote {
    font-size: 0.875em;
    font-weight: 400;
    margin: 0.2em 0 0.5em 0;
    line-height: 1.75;
}
.slide :last-child:not(.table-ffoodd) {
    margin-bottom: 0;
}
.slide blockquote {
    font-size: 1.2em;
    margin: 2em 0 2em 2em;
}
.slide blockquote h3 {
    font-size: 0.75em;
    font-style: normal;
}
.slide blockquote p {
    display: block;
    margin-left: 1rem;
    margin-right: 0.75rem;
    font-size: 0.86em;
}
.slide ul {
    list-style: none;
}
.slide ul li::before {
    content: "‒ ";
    color: #c42419;
}
.slide ul ul,
.slide ul ol {
    margin-top: 0.875em;
    font-size: 0.875em;
}
.slide small,
.slide .small {
    margin-top: 2em;
    display: block;
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.4;
}
.slide .small * {
    font-size: 1em;
    font-weight: 400;
}
.slide dt {
    font-weight: 700;
}
.slide dd {
    font-size: 0.75em;
    margin-bottom: 0.75em;
}
.slide abbr {
    font-variant: small-caps;
}
.slide h2 abbr {
    font: 500 italic 1em "Montserrat", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-variant: small-caps;
}
.slide span[aria-hidden="true"] {
    color: #c42419;
}
.main-header a,
.main-header h1 {
    color: #032c36;
    font-family: "Lato", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3vh;
    font-weight: 400;
    -webkit-font-feature-settings: "liga", "dlig", "c2sc";
    font-feature-settings: "liga", "dlig", "c2sc";
    margin: 0.5em 0 0.25em;
    opacity: 0.66;
    text-rendering: optimizelegibility;
    text-shadow: 1px 1px 0 #fff;
}
.main-header a {
    display: inline-block;
    text-decoration: none;
}
.main-header h1 {
    font-family: "MontserratBold", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
#volet {
    background: #fff;
}



/** mobyou tools */
.details { font-size: .75em; }
#wrapper { 
    height: 90%;
    font-size: 3.25vh;
}
#banner { display: none; }
.inline-block { display: inline-block; }

.txt-red { color: #DF0D00; }
.txt-green { color: #6b7571; }

p.center,
.slide { padding-top: 1em; }
.center,
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.thumb img {
    width: 100px;
    height: auto;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.7em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    font: italic 1.1em Georgia, Times, serif;
}
blockquote p strong {
    font-weight: bold;
    font-family: Georgia, Times, serif;
}
cite { 
    display: block;
    margin-left: 0.5em;
    margin-top: 1em;
    line-height: 1.4;
    font-size: .7em;
    font-style: normal;
    text-align: left;
}
cite.right { 
    text-align: left;
}

.modeplan .slide {
    border-bottom: 2px solid #303030;
    padding-top: 1em;
}

.couv,
.end {
    text-align: center;
    color: #303030;
}

.credit {
    padding: 0;
}

.credit li {
    display: inline-block;
}

.credit a {
    padding: 2px 3px;
    border: 1px solid #F9F9F9;
    border-radius: 3px;
    text-decoration: none;
}

.credit a:hover,
.credit a:focus {
    background: #92104c;
    border: 1px solid #303030;
}

.mt-1 {
    margin-top: 1% !important;
}

.mt-2 {
    margin-top: 2% !important;
}

.mt-3 {
    margin-top: 3% !important;
}

.pt-1 {
    padding-top: 1% !important;
}

.pt-2 {
    padding-top: 2% !important;
}

.pt-3 {
    padding-top: 3% !important;
}

/** @subsection 7.1 COLUMN **/

/** @subsection 7.2 FREAKY DISC **/

.list-disc {
    padding: 0;
}

.list-disc li {
    list-style: none;
}

button.disc {
    display: block;
    width: 100%;
    border: none;
    padding-top: 85px;
}

button.disc1 {
    background: transparent url("../img/disc_1_gray.png") center top no-repeat;
}

button.disc1:hover,
button.disc1:focus {
    background: transparent url("../img/disc_1.png") center top no-repeat;
}


@media screen and (min-width: 48em) {


    h2 + * {
        clear: both;
    }

    h3 {
        margin-bottom: 0.75em;
    }

	h3.short {
        margin-top: 0;
        margin-bottom: .35em;
    }
    h3:first-child {
        margin-top: 0;
    }
    p + h3, 
    ul + h3 {
        margin-top: 1em;
    }

    h3 + * {
        clear: both;
    }

    .col-left {
        float: left;
        width: 50%;
        padding: 0 3% 0 0;
    }

    .col-right {
        float: right;
        width: 50%;
        padding: 0 0 0 3%;
    }

    .w-20,
    .col-left.w-20,
    .col-right.w-20{
        width: 20%;
    }
    .w-25,
    .col-left.w-25,
    .col-right.w-25{
        width: 25%;
    }
    .w-30,
    .col-left.w-30,
    .col-right.w-30{
        width: 30%;
    }
    .w-40,
    .col-left.w-40,
    .col-right.w-40 {
        width: 40%;
    }
    .w-60,
    .col-left.w-60,
    .col-right.w-60{
        width: 60%;
    }
    .w-70,
    .col-left.w-70,
    .col-right.w-70{
        width: 70%;
    }

    .list-disc li {
        float: left;
        width: 25%;
    }

}

@media screen and (max-width: 48em) and (min-width:24em) {

    .list-disc li {
        float: left;
        width: 50%;
    }

}

@media screen and (max-width: 48em) {

    .main-header h1 {
        font-size: 80%;
    }

    .main-header {
        background: #fff;
        padding: 5px;
        box-shadow: 0 2px 3px #bbb;
    }

    .tool-bar {
        box-shadow: 0 -2px 3px #bbb;
    }

    .related {
        background: #fff;
        border: 3px solid #F9F9F9;
        border-left: 0;
        border-bottom: 0;
    }

}
@media screen and (min-width: 48em) {

    h2 {
        float: left;
        margin-bottom: 1em;
    }

    h2 + * {
        clear: both;
    }

    h3 {
        float: left;
    }
	h3.short {
		margin-top: .5em;
		margin-bottom: .2em;
	}

    h3 + * {
        clear: both;
    }

 

       .col-left {
        float: left;
        width: 50%;
        padding: 0 5% 0 0;
    }

    .col-right {
        float: right;
        width: 50%;
        padding: 0 0 0 5%;
    }

    .list-disc li {
        float: left;
        width: 25%;
    }
    .col-left-30 {
        float: left;
        width: 30%;
        padding: 0 5% 0 0;
    }
    .col-right-70 {
        float: right;
        width: 70%;
        padding: 0 0 0 5%;
    }
    .col-left-25 {
        float: left;
        width: 25%;
        padding: 0 5% 0 0;
    }
    .col-right-75 {
        float: right;
        width: 75%;
        padding: 0 0 0 5%;
    }
    .col-left-20 {
        float: left;
        width: 20%;
        padding: 0 5% 0 0;
    }
    .col-right-80 {
        float: right;
        width: 80%;
        padding: 0 0 0 5%;
    }
    .col-left-40 {
        float: left;
        width: 40%;
        padding: 0 5% 0 0;
    }
    .col-right-60 {
        float: right;
        width: 60%;
        padding: 0 0 0 5%;
    }
    .col-left-50 {
        float: left;
        width: 50%;
        padding: 0 5% 0 0;
    }
    .col-right-50 {
        float: right;
        width: 50%;
        padding: 0 0 0 5%;
    }

}


.select-goto {
    border: 0;
    border-radius: 50px;
    color: #032c36;
    display: inline-block;
    float: none;
    margin: 0 1em 0 0;
    padding: 0.46em 0.5em;
    transition: all 0.3s ease-in;
    vertical-align: middle;
}
.slide-counter {
    position: static;
}
#cpt > div {
    background: linear-gradient(105deg, #fff 0%, #fff 50%, #032c36 50%, #032c36 100%);
    border-radius: 50px;
    height: auto;
    padding: 0.46em 0.5em;
    width: auto;
}
.slide-counter-current {
    color: #c42419;
}
.btn,
.related a,
.slide-counter > div {
    border-radius: 50%;
    color: #032c36;
    -webkit-filter: drop-shadow(1px 1px 0 #fff);
    filter: drop-shadow(1px 1px 0 #fff);
    display: table-cell;
    height: 2rem;
    opacity: 0.66;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    width: 2rem;
}
.btn:hover,
.btn:focus,
.related a:hover,
.related a:focus,
.select-goto:hover,
.select-goto:focus {
    box-shadow: none !important;
    opacity: 1;
}
.slide-counter > div {
    background: #032c36;
    color: #efeee3;
}
.select-goto:hover,
.select-goto:focus {
    background: #fff;
}
.btn[disabled="disabled"] {
    opacity: 0.66;
}
.btn[disabled="disabled"]:hover,
.btn[disabled="disabled"]:focus {
    box-shadow: none;
    cursor: default;
}
.btn::-moz-focus-inner,
.btn-close::-moz-focus-inner {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
}
#wrappernav {
    overflow: hidden;
}
#navbar,
.related {
    height: auto;
    margin: 0.5em 0;
    text-align: center;
}
#navbar li,
.related li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
#navbar li + li,
.related li + li {
    margin-left: 0.5em;
}
li.tool-bar-elt,
div.tool-bar-elt {
    height: auto;
    overflow: visible;
}
button.tool-bar-elt {
    height: 2rem;
    overflow: visible;
}
.index {
    padding-top: 15px;
    border-radius: 0;
}
.index span {
    padding: 0;
    color: #fff;
    background-color: #032c36;
}
.modeplan #wrapper,
body > :not(.modeplan) .slide {
    background: #fff;
    box-sizing: border-box;
    max-height: calc(100vh - 5rem);
}
.list-disc {
    padding: 0;
}
.list-disc li {
    list-style: none;
}
button.disc {
    display: block;
    width: 100%;
    border: 0;
    padding-top: 85px;
}
button.disc1 {
    background: rgba(0, 0, 0, 0) url("../img/disc_1_gray.png") center top no-repeat;
}
button.disc1:hover,
button.disc1:focus {
    background: rgba(0, 0, 0, 0) url("../img/disc_1.png") center top no-repeat;
}
.tool-block {
    background-color: #b31d14;
    background-image: linear-gradient(to bottom, #c42419 0%, #a1160f 100%);
    border-top: 1px solid #d7665e;
    bottom: 0;
    color: #efeee3;
    height: 100vh !important;
    outline: 1px solid #000;
    padding: 1em;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2);
    top: 0;
    transition: outline 0.3s ease-in;
    width: 15vw;
}
.tool-block-title {
    color: #efeee3;
    font-family: "MontserratBold", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    position: relative;
}
.tool-block ol {
    padding-left: 1em;
}
.tool-block li,
.tool-block label,
.tool-block select {
    color: #efeee3;
    font-size: 0.875em;
    font-weight: 500;
}
.input-setting,
.label-setting,
.label-setting img {
    display: inline-block;
    margin-top: 0.5em;
    vertical-align: middle;
}
.input-setting {
    position: static;
}
.label-setting {
    line-height: 1;
    padding-left: 0.5em;
}
.tool-block label img {
    margin: -2px 0.25em 0 0;
}
.tool-block select {
    color: #01171d;
    margin-top: 0.5em;
}
.tool-block button {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
    vertical-align: top;
}
.tool-block button:hover,
.tool-block button:focus {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}
.tool-block-settings fieldset {
    border: 0;
    font-size: 1em;
    margin: 0;
    padding: 0 0 1em;
}
.tool-block-settings legend {
    font-family: "Montserrat", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    font-weight: 500;
    margin: 0.3em 0 0.25em;
}
.help {
    border-radius: 0.25rem;
    background: #efeee3;
    color: #032c36;
    font-size: 0.75rem;
    font-weight: 400;
    text-shadow: none;
}
.btn-group-settings {
    padding: 1em 0;
    text-align: left;
}
.btn-setting {
    background-color: #032c36;
    background-image: linear-gradient(to bottom, #9fb8d5 0%, #02181e 100%);
    background-size: auto 300%;
    background-position: 0 50%;
    border: 1px solid #000;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25);
    color: #fff !important;
    font-weight: 500;
    padding: 0.66em;
    text-decoration: none !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    transition: all 0.3s linear;
}
.btn-setting:hover,
.btn-setting:focus {
    background-color: #02181e;
    background-position: 0 100%;
}
.btn-setting:active {
    background-color: #04404e;
    background-position: 0 0;
}
.btn-close {
    border: 0;
    border-radius: 50%;
    height: 1rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
}
.btn-close img {
    display: block;
}
@-webkit-keyframes move-up {
    from {
        -webkit-transform: translateY(100%) translateZ(0);
        transform: translateY(100%) translateZ(0);
        opacity: 0;
    }
}
@keyframes move-up {
    from {
        -webkit-transform: translateY(100%) translateZ(0);
        transform: translateY(100%) translateZ(0);
        opacity: 0;
    }
}
[data-effect="ffoodd"] #wrapper {
    -webkit-animation: move-up 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: move-up 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen {
    [data-effect="ffoodd"] .slide {
        display: flex !important;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        top: 0 !important;
        visibility: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: visibility 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            -webkit-transform-origin 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
        transition: transform-origin 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
        transition: transform-origin 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            -webkit-transform-origin 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985),
            -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
    }
    [data-effect="ffoodd"] .slide[style*="display: none"] {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
        visibility: hidden;
    }
    [data-effect="ffoodd"] .slide[style*="display: block"] {
        opacity: 1 !important;
        position: relative !important;
        visibility: visible !important;
    }
    [data-effect="ffoodd"] .slide[style*="display: block"] ~ .slide[style*="display: none"] {
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
}
code[class*="language-"],
pre[class*="language-"] {
    color: #032c36;
    direction: ltr;
    font-family: "Consolas", "Monaco", "Andale Mono", monospace;
    font-size: 1rem;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    text-align: left;
    text-shadow: 0 1px #fff;
    white-space: pre;
    word-spacing: normal;
}
pre[class*="language-"] {
    margin: 0;
    overflow: auto;
    padding: 0;
}
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #708090;
}
.token.punctuation {
    color: #676767;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
    color: #52770a;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #896541;
}
.token.atrule,
.token.attr-value,
.token.keyword {
    color: #02749f;
}
.token.regex,
.token.important {
    color: #d50900;
}
.token.important {
    font-weight: bold;
}
.token.entity {
    cursor: help;
}
.token a {
    color: inherit;
}
.namespace {
    opacity: 0.7;
}
@media screen and (max-width: 24em) {
    #toggle-nav,
    #navbar li:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 48em) {
    .main-header {
        padding: 0 0.5em 0.5em;
    }
    .main-header a,
    .main-header h1 {
        font-size: 80%;
        max-width: calc(100% - 5em);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #wrapper {
        font-size: 100%;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1em;
    }
}
@media screen and (max-width: 48em) and (min-width: 24em) {
    .list-disc li {
        float: left;
        width: 50%;
    }
}
@media screen and (min-width: 48em) {
    .btn,
    .btn:hover,
    .btn:focus,
    button,
    button:hover,
    button:focus,
    input,
    input:hover,
    input:focus {
        transition: all 0.3s ease-in;
    }
    .table {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .col-50 {
        display: table-cell;
        width: 50%;
    }
    .col-33 {
        display: table-cell;
        width: 33.3333333333%;
    }
    .col-66 {
        display: table-cell;
        width: 66.6666666667%;
    }
    .col-t-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }
    .v-top {
        vertical-align: top;
    }
    .v-middle {
        vertical-align: middle;
    }
    .mt-auto {
        margin-top: auto !important;
    }
    .ml-auto {
        margin-left: auto !important;
    }
    .col-left {
        float: left;
        width: 50%;
        padding: 0 5% 0 0;
    }
    .col-right {
        float: right;
        width: 50%;
        padding: 0 0 0 5%;
    }
    .list-disc li {
        float: left;
        width: 25%;
    }
    .main-header {
        margin: 0;
        padding: 0 calc(9vw + 0.5em);
    }
    #navbar,
    .related {
        margin: 0.25em 0;
    }
    #wrappernav {
        padding: 0 calc(9vw + 0.5em) 2vh;
        overflow: hidden;
    }
    #wrapper {
        font-size: 2.25rem;
        height: 100vh;
        margin: 0;
        overflow-x: hidden;
        top: auto;
    }
    .modeplan #wrapper,
    body > :not(.modeplan) .slide {
        border-radius: 0.4rem;
    }
    .slide,
    body > :not(.modeplan) .slide {
        margin: 0.5rem;
        max-height: 82vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1em;
        top: 2vh;
        width: 100%;
    }
    .slide.full,
    body > :not(.modeplan) .slide.full {
        height: 82vh;
    }
    .modeplan .slide.full {
        height: auto;
        min-height: 82vh;
    }
}


.slide {
    padding: 0 4vw;
}

.slide.chapter {
    padding: 0;
}

@media screen and (min-width: 50em) {
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
}

.slide.chapter .wrap {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.slide.chapter .wrap .left {
    height: 100%;
    flex-basis: 35%;
}

.slide.chapter .wrap .right {
    align-self: center;
    padding-left: 2rem;
}