
.autocomplete-set .selection {
	opacity: 0;
}

.autoComplete_wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.auto-complete {
	height: 2rem;
	width: 100%;
	margin: 0;
	padding: 0.25rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 1rem;
	text-overflow: ellipsis;
	background-color: #fff;
	transition: all 0.4s ease;
	-webkit-transition: all -webkit-transform 0.4s ease;
}

.auto-complete::placeholder {
	color: rgba(32, 32, 32, 1);
	transition: all 0.3s ease;
	-webkit-transition: all -webkit-transform 0.3s ease;
}

.auto-complete:hover::placeholder {
	color: rgba(16, 95, 0, 1);
	transition: all 0.3s ease;
	-webkit-transition: all -webkit-transform 0.3s ease;
}

.auto-complete:focus::placeholder {
	padding: 0.1rem 0.6rem;
	font-size: 0.95rem;
	color: rgba(16, 95, 0, 1);
}

.auto-complete:focus::selection {
	background-color: rgba(43, 43, 43, 0.15);
}

.auto-complete::selection {
	background-color: rgba(43, 43, 43, 0.15);
}

.auto-complete:hover {
	color: rgba(146, 0, 0, 1);
	transition: all 0.3s ease;
	-webkit-transition: all -webkit-transform 0.3s ease;
}

.auto-complete:focus {
	color: rgba(146, 0, 0, 1);
	border: 0.06rem solid rgba(32, 1, 1, 0.8);
}

.autoComplete_list {
	margin-top: 0;
	border: thin solid #737373;
	border-radius: 0.5rem;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0.25rem;
	background-color: rgb(238, 235, 231);
	
}

.auto-complete_list {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 0;
	margin-top: 0.5rem;
	border-radius: 0.6rem;
	background-color: rgb(228, 222, 222);
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
	border: 1px solid rgba(33, 33, 33, 0.07);
	z-index: 1000;
}

.autoComplete_result {
	margin: 0.3rem;
	padding: 0.3rem 0.5rem;
	list-style: none;
	text-align: left;
	font-size: 1rem;
	color: #212121;
	transition: all 0.1s ease-in-out;
	border-radius: 0.35rem;
	background-color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.2s ease;
}

.autoComplete_result::selection {
	color: rgba(#fff, 0);
	background-color: rgba(#fff, 0);
}

.autoComplete_result:hover {
	cursor: pointer;
	background-color: rgba(255, 122, 122, 0.15);
}

.autoComplete_highlighted {
	color: #b10606;
	font-weight: 700;
}

.autoComplete_highlighted::selection {
	color: rgba(#fff, 0);
	background-color: rgba(rgb(231, 216, 216), 0);
}

.autoComplete_selected {
	cursor: pointer;
	background-color: rgba(82, 7, 7, 0.15);
}

li.no_result {
	list-style: none;
}

@media only screen and (max-width: 600px) {
	.autoComplete_wrapper {
		width: 10em;
	}

	.auto-complete {
		width: 18rem;
		background-size: 1.6rem;
		background-position: left 1.1rem top 0.75rem;
	}

	.auto-complete_list {
		margin: 10px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.auto-complete {
		border-width: 1px;
	}
}

@-moz-document url-prefix() {
	.auto-complete {
		background-size: 1.2rem;
		background-origin: border-box;
		border-width: 1px;
		background-position: left 1.1rem top 0.8rem;
	}
}
