

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

body p {
	line-height: 1.5;
}

/* demo component wrapper */
.demo {
	background-color: #fff;
	font-weight: 300;
	color: #000;
	padding: 0 2rem;
}

.demo::after,
.demo-sep {
	display: block;
	content: " ";
	margin: 4rem auto;
	height: 2px;
	width: 5rem;
	border-bottom: 2px dotted #737373;
}

.demo h1 {
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.demo p {
	padding: 0 0.5rem;
}

/* bottom infos block */
.pattern-infos {
	position: relative;
	margin: 1rem 2rem;
	padding: 0 2rem 1rem;
	border: 10px solid #ccc;
	font-size: 0.875rem;
}

/* titles */
.pattern-infos h1,
.pattern-infos h2,
.pattern-infos h3,
.pattern-infos h4 {
	margin: 2rem 0 1rem;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

.pattern-infos h1 {
	font-size: 2rem;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0.75rem;
	border-bottom: 2px dotted #ccc;
}

/* tables */

.pattern-infos table {
	margin-top: 2em;
}

.pattern-infos table thead tr th {
	border-bottom: 1px solid #e6e6e6;
	color: #737373;
	font-size: 1.125em;
}

.pattern-infos table tbody tr td {
	padding: 0 5em 0 2em;
	color: #333;
}

/* lists */
.demo nav.tunnel-bottom-nav ul {
	margin-top: 1rem;
	border-top: 1px solid #ccc;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.demo nav.tunnel-bottom-nav ul li {
	list-style: none;
	margin: 0.5rem 0.1rem;
	transition: 0.5s ease-in-out;
}

/* buttons */
.demo button[class^="btn-"] {
	background-color: #fff;
	border: 1px solid #000;
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.demo button.btn-submit {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

@media (min-width: 768px) {
	.demo nav.tunnel-bottom-nav ul li {
		margin: 0.5rem 0.25rem;
	}

	.demo button[class^="btn-"] {
		font-size: 1.5rem;
	}
}
