@charset "UTF-8";

/* ==========================================================================
   
   CSS for optimized accessibility

   ========================================================================== */

/* ==========================================================================
   Module recherche avancée
   ========================================================================== */

/* possibilité de zoom texte sans perte d'information dans le module */   
#rechercheAvance {
    width: 36em;
    height: 90vh;
    overflow: auto;
}

/* ajout de la sémantique fieldset > legend */
#rechercheAvance fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#rechercheAvance fieldset > div > button.disclosure {
    text-align: left;
}

#rechercheAvance #sous-groupe-liste-UN {
    display: none;
    height: auto;
}